/* Custom Styles */

.header-row {
    background-color:black;
    position:relative;
}

.portrait-photo-row {
    text-align: center;
    background-color:#EEEEEE;
}

.portrait-photo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: black;
    border-radius: 5%;
    height: 90px;
    width: 90px;
}

.footer {
    margin-top:40px;
    width: 100%;
    height: 60px;
    background-color: black;
}

.footer p {
    padding-top:20px;
}

.text-over-image {
    top:0;
    position:absolute;
    width:100%;
    background-color:rgba(0, 0, 0, 0.3);
    text-align:center;
}

.text-over-image h1 {
    text-shadow:2px 2px black;
    color:white;
}

